@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #e64a19;
    border-radius: 14px;
}

@layer utilities {
    .text-clamp-h1-hero {
        font-size: clamp(2rem, 4vw, 3.375rem);
    }

    .text-clamp-p-hero {
        font-size: clamp(0.75rem, 4vw, 1rem);
    }

    .hidden {
        display: block;
    }

    @media (0 <= width <= 1550px) {
        .hidden {
            display: none;
        }
    }
}
